.title {
  margin-bottom: 20px;
  font-size: 26px !important;
}

.topic {
  font-size: 18px;
}

.title {
  span {
    margin-left: 5px;
  }
}

.content {
  margin-left: 10px;
}
.content {
  span {
    margin-left: 5px;
  }
}

.v-icon {
  color: black;
  margin-bottom: 4px;
}
