.title {
  margin-bottom: 10px;
  font-size: 26px !important;
}

.topic {
  font-size: 18px;
}

.title > span {
  margin-left: 5px;
}

.content {
  margin-left: 10px;
}
.content > span {
  margin-left: 8px;
}

.v-icon {
  margin-bottom: 5px;
  color: "#05161E";
}
